/* footer */

footer{
    background: #aeaeae;
    font-family: Franklin Gothic;
    margin-bottom: -0.5em;
}

footer h1 {
    font-size: 5em;
    padding: 0.5em;
    margin-bottom: auto;
 
}

footer a{
    text-decoration: none;
    color: white;
    position: relative;
    left:665px;
    bottom:60px;
}

footer p{
    position: relative;
    left: 505px;
    bottom: 50px;
}