body{
    width: auto;
    display: grid;
    grid-template-columns: 60% 40%;
}

form{
    
    text-align: center;
    margin-left: 30em;
}

#loca{
    border-radius: 10px;
    width:12em;
}

#datIni{
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
}

#datFim{
    border-radius: 10px;
}

aside{
    
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
}

div{
    grid-column-start: 1;
    grid-column-end: 2;
}