body{
    width: 60em;
}

form{
    display: flex;
    
    text-align: center;
    margin-left: 30em;
}

#loca{
    border-radius: 10px;
    width:12em;
}

#datIni{
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
}

#datFim{
    border-radius: 10px;
}