html, body{
    background: #b3dfde;
    width: 100%;
}

body > header{
    text-align: center;
    color: white;  
    margin-bottom: 2em;
    border-bottom: 2px solid white;     
}

body > header a{
    padding: 1rem;
    position: relative;
    top: 35px;  
    text-decoration: none;
    color: white;
    background: #b3dfde;
        
}

input[type=submit]{
    background-color: rgba(207, 207, 207, 0.719);
    border: 2px;
    border-color: white;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

p{
    color: white;
}

footer h1{
    color: white;
}

/*Menu*/

#menu input{
    display: none;
}

#menu .hamburger {
    display: block;
    color: white;
    padding: 1em;
    position: relative;
    left: 700px;

}

#menu .hamburger:before {
    content:'\2630';
}

#menu ul {
    flex-direction: column;
    margin: 0 auto 0 500px;
    padding: 0;
    color: white;
  }

#hamburger:checked + .hamburger + ul li{
    max-height: 5em;
    float: right;
    display: flex;
}

#hamburger:checked + .hamburger:before {
    content:'\2715';
}  

#menu li {
    max-height: 0;
    padding: 1em 2em;
    background-color: #2a2f33;
    display: none;
}

#menu li:nth-child(1) {
    border-left: 2px solid white;
    border-right: 2px solid white;  
    border-top: 2px solid white;
}

#menu li:nth-child(2) {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
}

#menu li:nth-child(3) {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
}

#menu li:nth-child(4) {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#menu a {
    color: white;
    text-decoration: none;
}

/*Body*/

body {
    max-width: 750px;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    left: 25%;
    margin-right: -50%;
    background-color: #b3dfde;
    color: white;
    font-family: Franklin Gothic;
}

.see{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 4em;
}

.clean{
    text-decoration: none;
    color: white;
    font-weight: bold;
}