/*Header*/
h1{
    border-bottom-style: solid;
    border-color: black;
    text-align: center;   
    margin: auto;
    width: 10em;
}

h2{
    text-align: center; 
}

/*Body*/


/*Section*/

section{
    
    margin: auto;
    background-color: grey;
    width: 20em;
    padding: 1em 10em;
    border-radius: 10px;
    color:white;
}

form{
    display: block;
    text-align: center;
}

input, label{
    margin: auto;
    display: block;
}

input{
    border-radius: 10px;
    width: 20em;
    padding: 5px;
}
